img{
	max-width:100%;
	padding:.75em;

}/*prevents the image from being larger than the page*/
div{
	margin:2%;
	padding:1em;
	background-color:#B0E2FF;
	max-width:100%;
}/*general content section*/
/*footer{
	background-color:#000000;
	color:#FFFFFF;
}*/
footer{
	color:#cecece
}
body{
	font-family:"Arial";

}
header{
	background-color:black;
	color:#FFFFFF;
	font-size:2.5em;
	font-family:"Cooper Black";
	text-align:right;
	padding:.25em;
	padding-right:.75em;
	padding-bottom:.35em;
	max-width:100%;
}
h5{
	font-size:1em;
	font-family:"Arial";

}
h2{
	font-family:"Arial";
}
h4{
	font-family:"Arial";
}
h3{
	font-family:"Arial";
}
h6{
	font-family:"Arial";
}
button{
	background-color:#B0E2FF;
	float:left;
	margin:.25em;

}
span{

}
a:link{
	color:#b805ff;
}/*text decoration removes the underline from the text*/
a:hover{
	color:#000;
	text-decoration:none;
}
/*# defines the specific div section that I am modifying*/
#navigation {
	position:absolute; /*fixed position will stay where it appears*/
	top: 0;
	left:0;
	margin-left:0px;
	margin-top:5em;
	color: #ffffff;
	max-width:100%;
	text-align:left;
	padding: .625em;
	background-color: #000000;
	visibility:hidden;
}
#navigation a {
	font-size: .875em;
	padding-left: .9375em;
	padding-right: .9375em;
	color:#FFFFFF;
}
#footer {
  padding-top: 50px;
  padding-bottom: 5px;
}
#logo2
{
padding-top: 0px;
padding-right: 0px;
}
#teampic
{
	padding: 0px;
	padding-left: 10px
}
marquee{
	padding: 0px;
}
#origin{
	padding-top: 50px;
	float: left;
	padding-left: 200px
}
#otext{
	padding: 0px;
}
#bold{
	font-weight: 500
}

#oldteam {

	padding-right: 6px;
	align:center;
}
#robotpic{
	float: right;
	background-color:#B0E2FF;
	position: fixed;
	right: 45.9px;
	top: 120px

}
#pagehead{
	float: left;
	font-weight: 700;
	font-size: 30px;
	position: fixed;
}
